<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Give me your images</title>

    <script type="text/javascript" src="{{url_for('static', filename = '/javascript/webcam.min.js')}}"></script>
    <style>
        table tr td {
            padding: 20px;
            padding-right: 0px;
        }
    </style>

</head>

<body>
    <form method="POST" enctype="multipart/form-data" id="myForm">
        <table>
            <tr>
                <td>Your name:</td>
                <td><input type="text" name="userID"></td>
            </tr>
            <tr>
                <td><input type="button" value="Upload your image" onclick="upload()"></td>
            </tr>
        </table>
    </form>
    <div id="my_camera"></div>
    <input type="button" onclick="snap()" value="Take a picture" style="margin: 20px;">
    <div id="results"></div>
</body>
<script>
function ShowCam() {
    Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach('#my_camera');
}
window.onload= ShowCam;

function snap() {
    Webcam.snap( function(data_uri) {
        // display results in page
        document.getElementById('results').innerHTML = 
        '<img id="image" src="'+data_uri+'"/>';
      } );      
}

function upload() {
    console.log("Uploading...")
    var image = document.getElementById('image').src;
    var form = document.getElementById('myForm');
    var formData = new FormData(form);
    formData.append("file", image);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/upload_image");

    // check when state changes, 
    xmlhttp.onreadystatechange = function() {

    if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        // alert(xmlhttp.responseText);
        // console.log(xmlhttp.responseText);
        }
    }

    xmlhttp.send(formData);
    // console.log(formData.get('file'));
    // console.log(formData.get('userID'));
    console.log("Send successfully!")
}
</script>

</html>